@model ICollection<SocialNetwork.DataAccess.GroupPost>
@{
    ViewBag.Title = "Group Posts";
}

<h2>Group Posts</h2>
<hr />
<h2 class="text-center">Recent Group Posts</h2>
@foreach (SocialNetwork.DataAccess.GroupPost viewModel in Model)
{
    @Html.Partial("_GroupPost", viewModel)
}
