@model ICollection<SocialNetwork.WebUI.Models.GroupPostViewModel>
@{
    ViewBag.Title = "Group Posts";
}

<h2>Group Posts</h2>
<hr />
<h2 class="text-center">Recent Group Posts</h2>
@foreach (SocialNetwork.WebUI.Models.GroupPostViewModel viewModel in Model)
{
    @Html.Partial("_GroupPost", viewModel)
}
