@model ICollection<SocialNetwork.WebUI.Models.UserPostViewModel>

@{
    ViewBag.Title = "Home";
}

<div class="jumbotron2 text-center" >
        <h1 style="font-size: 80px;">More Global. More Coders.</h1>
        <p>dotNetwork is the social network for the coding community worldwide.</p>
        <p>Join in today and share your code-pertise with us today!</p>
</div>

@foreach (SocialNetwork.WebUI.Models.UserPostViewModel viewModel in Model)
{
    @Html.Partial("_UserPost", viewModel)
}
