
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron4 vertical-center">
    <div class="container">
        <h1 style="font-size: 80px;">More Global. More Coders.</h1>
        <h2>dotNetwork is the ultimate social platform for Coders across the Globe.</h2>
        <a href="#spencer" title="To Top" style="color: white">
            <span class="glyphicon glyphicon-chevron-down" style="margin-top: 50px"></span>
        </a>
    </div>
</div>

<section id="spencer">
    <div class="row">

    </div>
</section>

<div class="container-fluid text-center" style="margin-top: 50px; color: #255366;">
    <h2>dotNetwork Features</h2>
    <br>
    <div class="row slideanim" style="margin-top: 50px; color: #255366;">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-phone logo-small" style="font-size: 75px;"></span>
            <h4>MOBILE</h4>
            <p>Access dotNetwork from anywhere!</p>
            <p>Smartphone, tablet and your computer.</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-globe logo-small" style="font-size: 75px;"></span>
            <h4>GLOBAL</h4>
            <p>Available for all coders around the Globe</p>
            <p>Share code snippets or take part in discussions instantly</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-cog logo-small" style="font-size: 75px;"></span>
            <h4>Personal</h4>
            <p>Customise your profile as much as you want</p>
            <p>To best represent you as an individual</p>
        </div>
    </div>
    <br><br>
    <div class="row slideanim" style="margin-top: 50px; color: #255366;">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-leaf logo-small" style="font-size: 75px;"></span>
            <h4>GREEN</h4>
            <p>10% of our ad revenue goes towards projects for</p>
            <p>conserving and protecting our global natural environment</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-phone-alt logo-small" style="font-size: 75px;"></span>
            <h4>SUPPORT</h4>
            <p>24/7 first-class support</p>
            <p>& Admins to moderate the network</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-wrench logo-small" style="font-size: 75px;"></span>
            <h4>FREE</h4>
            <p>100% free! No sign up fees</p>
            <p>or cheeky hidden costs</p>
        </div>
    </div>
</div>

<script>

</script>
