@model ICollection<SocialNetwork.WebUI.Models.UserPostViewModel>

@{
    ViewBag.Title = "Home";
}

<div class="jumbotron2 text-center">
    <h1>dotNetwork</h1>
    <p>The Ultimate social networking platform for coders.</p>
</div>

@foreach (SocialNetwork.WebUI.Models.UserPostViewModel viewModel in Model)
{
    @Html.Partial("_UserPost", viewModel)
}
