@model ICollection<SocialNetwork.WebUI.Models.UserPostViewModel>

@{
    ViewBag.Title = "Home";
}
<h2>@ViewBag.Title</h2>

@foreach (SocialNetwork.WebUI.Models.UserPostViewModel viewModel in Model)
{
    @Html.Partial("_UserPost", viewModel)
}
