@model IEnumerable<E_Commerce_DAL.Item>
@{
    ViewBag.Title = "BasketList";
}

<h2>Items in Basket</h2>

<table class="table">
    <tr>
        <th>Name</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.name)</td>
        </tr>
    }
</table>





@*<h2>Items in Basket</h2>

<table class="table">
    <tr>
        <th>Items</th>
    </tr>

        <tr>
            <td>@Html.DisplayFor(x => Model.itemsInBasket)</td>
        </tr>
</table>*@