@model IEnumerable<E_Commerce_DAL.Item>
@{
    ViewBag.Title = "ItemList";
}

    <h2>List of all Items</h2>
<h2>Each item only has one stock at the moment as we are a new shop.</h2>


    <table class="table">
        <tr>
            <th>Name</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.name)</td>
            </tr>
        }
    </table>
