@model SocialNetwork.WebUI.Models.PostViewModel

<div class="container pink post-container">
    <div style="display: table-row">
        <div class="container red post-sidebar">
            
        </div>

        <div class="container green post-content">
            
        </div>
    </div>
</div>
