<div class="alert alert-success col-sm-offset-3 col-sm-6 pink" role="alert">
    <p class="text-center">Success</p>
    <p class="text-center">@Html.ActionLink("Return to Index", "Index", "Home")</p>
</div>
