@{
    ViewBag.Title = "Contact";
}

<div id="div3">
    <div id="div3txt" style="background-image: url('../Content/call.jpg'); background-size: 100%;">
        <h3 id="abouttitle">If there are any suggestions you would like to let us know about, please get in touch!</h3>
        <p class="myClass">If you have any customer service inquiries or any other additional questions you would like to ask the team about Budgie, don't hestitate to contact us ASAP.</p>
        <h3 id="abouttitle">contact@budgie.com</h3>
        <h3 id="abouttitle">07528873203</h3>
        <h3 id="abouttitle">Cottons Centre, 47-49 Tooley St, London SE1 2QN</h3>
    </div>
</div>


@*style="background-image: url('../Content/call.jpg'); background-size: 100%;"*@