
@{
    ViewBag.Title = "FAQ";
}

<div class="jumbotron2 text-center" style="background-image: url('../Content/blossom.jpg'); color: #032D41">
    <h1>Feel free to ask us anything!</h1>
    <h2 style="color: #032D41">Don't hesitate to email us at Budgie if you have any further questions.</h2>
    <h2 style="color: #032D41">We will always welcome your curiosity!</h2>

</div>

<div id="div3">
    <div id="div3txt">
        <h3 id="abouttitle">FAQ</h3>
        <p class="myClass">1. How can I be a part of Budgie?</p>
        <p class="myClass">Just send us an email with your desired username and we'll supply you with your username and temporary password for your first login.</p> <!-- paragraph -->
        <p class="myClass">2. Are you safe?</p>
        <p class="myClass">We are as safe as you can be, Budgie is entirely on your phone and will require a 4-pin code to log in everytime you open the app for managing your settings or make purchases. If you lose your phone, you can always instantly deactivate your account via website or simply call our 24/7 support and we'll immediately secure your account for you. On our side, our servers have 1024-bit Encryption to keep out hackers and we have a 24/7 IT support staff with cybersecurity experience to immediately react to any potential threats. Don't worry, our Budgie is armored to the teeth with the latest security tech!</p>
        <p class="myClass">3. Why is Budgie entering the market?</p>
        <p class="myClass">We've simply had enough with the amount of time it takes to gain information about our purchases, and our own banks don't provide us with any tools to help us keep track of our money and how we budget. Its time for Budgie to show everyone how smart budgeting really works.</p>
        <p class="myClass">4. Can we use Budgie to make payments?</p>
        <p class="myClass">Absolutely! Budgie provides a contactless form of payment through your phone, so you don't require an additional bank card. Additionally, we will record the purchase information, location and info about the shop too, so you can always look back at where you recently shopped and can leave a review about the shop and your purchase for other Budgies to read.</p>
        <p class="myClass">5. If Budgie is contactless, doesn't that make it risky to fraud like current contactless bank cards?</p>
        <p class="myClass">No. Budgie will always require a prompt on your phone screen before a purchase is completed, so noone can walk past your pocket and take money from you right under your nose. Budgie has your back, so you can always a deep breath and relax as you shop.</p>
    </div>
</div>

