@{
    ViewBag.Title = "Home Page";
}

<title>@ViewBag.Title - Budgie</title>

<div class="jumbotron2 text-center">
    <h2>At last, a solution to budgeting as smart and effortless as your phone</h2>
    <div id="div1txt">
        <p>Built for any smartphone, this is budgeting like never before. Simple to use, with instant updates to your fully customisable allowances, giving smart-reactive notifications as you spend your hard-earned funds.</p>
        <p>Budgie will always have your back, no matter where you are on the planet.</p>
        <img id="appstore" src="~/Content/appstore.svg" />
    </div>
</div>

<!-- Container (About Section) -->
<div id="about" class="container-fluid3">
    <div class="row">
        <div class="col-sm-8">
            <h4>Revolutionary smart budgeting at your fingertips, just for you, anywhere you go.</h4><br>
            <p>
                Budgie monitors your budgets for you, allowing you to relax without having to think twice about your purchases.
                If you are approaching towards your personalised budget limit, Budgie will notify you through your phone app, or via many different types of notifications (phone, email, text), fully customised by you.
            </p>
        </div>
        <div class="col-sm-4 text-center">
            <span class="glyphicon glyphicon-phone logo" style="font-size: 300px;"></span>
        </div>
    </div>
</div>

<div class="container-fluid3">
    <div class="row">
        <div class="col-sm-4 text-center">
            <span class="glyphicon glyphicon-globe logo slideanim" style="font-size: 300px;"></span>
        </div>
        <div class="col-sm-8">
            <h2>Our Values</h2><br>
            <h4><strong>Why?:</strong> We all have smartphones in our palms today, but no smart budgeting to go with it...</h4><br>
            <p>
                <strong>OUR VISION:</strong> We live in a world today thats expanding and innovating new tech faster than ever before and we need the right gear to stay in the race.
                Our smartphones are with us all the time, when we are shopping, ordering food or even taking a taxi, but it still takes our banks days to update us on how we are spending.
            </p>
            <p>We can change that. Budgie will always give you what you need, instantly.</p>
        </div>
    </div>
</div>

<!-- Container (Services Section) -->
<div id="services" class="container-fluid text-center">
    <h2>What Budgie has to offer!</h2>
    <br>
    <div class="row slideanim">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-phone logo-small"></span>
            <h4>MOBILE</h4>
            <p>Contactless prepaid phone application</p>
            <p>& Real-time budget notifications</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-globe logo-small"></span>
            <h4>GLOBAL</h4>
            <p>Usable anywhere in the world, with absolutely zero fees</p>
            <p>& Instant transfers between Budgies</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-cog logo-small"></span>
            <h4>FLEXIBLE</h4>
            <p>Customisable, simple, smart budgeting</p>
        </div>
    </div>
    <br><br>
    <div class="row slideanim">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-leaf logo-small"></span>
            <h4>GREEN</h4>
            <p>No paper documents or waste, budgie is 100% digital</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-phone-alt logo-small"></span>
            <h4>SUPPORT</h4>
            <p>24/7 first-class support</p>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-wrench logo-small"></span>
            <h4>FREE</h4>
            <p>100% free! No hidden fees or service charges</p>
        </div>
    </div>
</div>

<div id="div4">
    <div id="div4txt">
        <h3>Banks that are currently supported by Budgie:</h3>
        <p>HSBC, Lloyds, Barclays, RBS Group, Natwest, Tesco and many more!</p>
        <img id="banklogos" src="~/Content/Hsbc-logo.svg.png" />
        <img id="banklogos" src="~/Content/LloydsBankLogo.svg.png" />
        <img id="banklogos" src="~/Content/Barclays_logo.svg.png" />
        <p> If you use a bank which isn't included, please let us know and we'll be support it.</p>
    </div>

    <div id="div4txt" style="margin-top:50px">
        <h3>Budgie also supports other payment services such as:</h3>
        <p>Paypal, PayPoint, Stripe, Sage Group.</p>
        <img id="banklogos" src="~/Content/PayPal.svg.png" />
        <img id="banklogos" src="~/Content/Sage.svg.png" />
    </div>
</div>
