
@{
    ViewBag.Title = "Careers";
}

<div class="jumbotron2 text-center" style="background-image: url('../Content/codecomputer.jpg');">
    <h1>Kickstart your innovative tech career with us!</h1>
    <h2>We welcome all exciting and creative software developers to join Budgie and help us grow and expand into the world.</h2>

</div>

<div id="div4">
    <div id="div4txt">
        <div class="offerSection">
            <h1 class="offerTitle">What are we looking for?</h1>
            <div class="offerGroups">
                <div class="offerGroup offerGroupRightNow">
                    <div class="offerGroupTitle">Skills</div>
                    <ul class="offerGroupList">
                        <li><img src="../Content/tick.png">HTML, CSS, Javascript</a></li>
                        <li><img src="../Content/tick.png">C# and Ruby</li>
                        <li><img src="../Content/tick.png">Excellent Teamworking Skills</li>
                        <li><img src="../Content/tick.png">Innovative and creative mindset</li>
                    </ul>
                    <ul class="offerGroupList">
                        <li><img src="../Content/tick.png">Fantastic Ambition for success and learning</li>
                        <li><img src="../Content/tick.png">Remarkable Professionalism</li>
                        <li><img src="../Content/tick.png">Exciting and motivating personality</li>
                        <li><img src="../Content/tick.png">Excellent customer service experience</li>
                    </ul>
                </div>
            </div>
        </div>
        <p>We welcome anyone from any ethnic minority or backgrounds and any disability and gender. We do not discriminate so please don't be shy as your talents may be just what we were searching for!</p>
        <h3>If you are interested in joining Budgie as a developer, please email:</h3>
        <h3>careers@budgie.com</h3>
        <h3>We look forward to hearing from you soon!</h3>
    </div>
</div>

