@model BudgieDatabaseLayer.Account


@{
    ViewBag.Title = "AccountOverview";
}

<h2>Account Overview</h2>

<table class="table">
    <tr>
        <th>Account Number</th>
        <th>Balance</th>
        <th>Budget</th>
    </tr>

    <tr>
        <td>@Html.DisplayFor(x => Model.accountNumber)</td>
        <td>@Html.DisplayFor(x => Model.balance)</td>
        <td>@Html.DisplayFor(x => Model.budget)</td>
    </tr>

</table>