@model BudgieDatabaseLayer.Account


@{
    ViewBag.Title = "AccountOverview";
}

<div class="jumbotron2 text-center" style="background-image: url('../Content/safe.jpg');">
    <h1>Account Overview</h1>
    <h2>Safe. Secure. 1024-bit encryption.</h2>
</div>

<table class="table">
    <tr>
        <th>Account Number</th>
        <th>Balance</th>
        <th>Budget</th>
    </tr>

    <tr>
        <td>@Html.DisplayFor(x => Model.accountNumber)</td>
        <td>@Html.DisplayFor(x => Model.balance)</td>
        <td>@Html.DisplayFor(x => Model.budget)</td>
    </tr>

</table>