@model IEnumerable<BudgieDatabaseLayer.BudgieUser>
@{
    ViewBag.Title = "Budgie Users";
}

<h2>BudgieUsers Index</h2>

<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        <input type="submit" value="View List" class="btn btn-default" />
    </div>
</div>