@model ICollection<SocialNetwork.WebUI.Models.UserPostViewModel>
@{
    ViewBag.Title = "ProfilePage";
}

<div class="jumbotron">
    <img src="~/Images/skhan-cover.jpg" alt="coverimg" class="under" style="width:100%;height:300px"/>
    <img src="~/Images/placeholder-profileimage.jpg" alt="profileimg" class="over" style="width:200px;height:200px"/>
</div>

<div class="UserPosts">
    @foreach (SocialNetwork.WebUI.Models.UserPostViewModel viewModel in Model)
    {
        @Html.Partial("_UserPost", viewModel)
    }
</div>

@*<img src="" class="img-rounded, col-md-4">*@