@model SocialNetwork.WebUI.Models.ProfilePageViewModel
@{
    ViewBag.Title = "ProfilePage";
}

<div class="jumbotron">
    <img src="~/Content/@Model.user.username-cover.jpg" alt="coverimg" class="under"/>
    <img src="~/Content/@Model.user.username-profileimg.jpg" alt="profileimg" class="over" style="width:200px;height:200px" />
    <h1 class="over-text text-center">@Model.user.fullName</h1>
</div>

<div class="UserPosts">
    @foreach (SocialNetwork.DataAccess.UserPost post in Model.userpost)
    {
        @Html.Partial("_UserPostProfile", new SocialNetwork.WebUI.Models.UserPostViewModel() { post = post })
    }
</div>
